html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: $white;
  background-color: $dark;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}
