@media (max-width: 1440px){
  .works__content{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    
  }
}

@media (max-width: 1300px) {
  .adress{
    display: none;
  }
  .partners__title::before{
    display: none;
  }
  .partners__title::after{
    display: none;
  }
  .filter__btn{
    font-size: 24px;
  }
  .filter__one{
    margin-bottom: 25px;
  }
  .works__top{
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: flex;
  }

  .menu {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    text-align: center;
    transition: top 0.5s linear;
    overflow: scroll;
  }

  .menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .menu__link {
    margin: 0 auto;
  }

  .menu__link {
    display: block;
    width: 100%;
  }


  .header__burger--active::before {
    transform: rotate(-45deg);
    top: 19px;
  }

  .header__burger--active::after {
    transform: rotate(45deg);
    bottom: 23px;
  }

  .header__burger--active .header__line {
    transform: scale(0);
  }

  .menu.header__burger--active {
    padding-top: 70px;
    display: block;
    top: 0;
  }

  .advantages__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
  }

  .advantages__item:last-child{
    margin-right: 0;
  }
  .advantages__icon{
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 1052px){
  .works__content{
    grid-template-columns: repeat(2, 1fr);
  }
  .filter__btn{
    font-size: 20px;
  }
  .contacts__inner{
    flex-wrap: wrap;
  }
  .contacts__content{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__map{
    width: 100%;
  }

  iframe{
    width: 100%;
  }
  
}

@media (max-width: 992px) {

  .title{
    margin-bottom: 20px;
  }
  .company__inner{
    flex-wrap: wrap;
  }
  .company__content{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .company__img{
    width: 100%;
  }
  .company__text{
    max-width: 100%;
  }
  .company{
    padding-bottom: 50px;
  }
  .partners{
    padding-bottom: 50px;
  }
  .partners__box{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }
  .partners__box p{
    margin-right: 0;
    margin-bottom: 25px;
  }
  .works{
    padding-bottom: 50px;
  }
  .application{
    padding-bottom: 50px;
  }
  .advantages{
    margin-bottom: 50px;
  }
  .contacts{
    padding-bottom: 50px;
  }
}

@media (max-width: 898px){
  .filter__box{
    display: flex;
    justify-content: center;
  }
  .filter__one{
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }
  .filter__two{
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .filter__item{
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .partners__img{
    margin-right: 0;
    width: 50%;
  }
  .advantages__inner{
    flex-wrap: wrap;
  }
  .advantages__item{
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .modal__img{
    display: none;
  }
  .modal__form{
    max-width: 100%;
    padding-bottom: 25px;
  }
  .form{
    padding: 0 15px;
  }
  .modal__title{
    padding: 50px 20px 10px;
  }
}

@media (max-width: 720px){
  .works__content{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 649px){
  .advantages{
    height: 940px;
  }
  .advantages__item{
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .logo{
    width: 140px;
  }
  .header__buttom{
    text-align: center;
  }
  .header__title{
    max-width: 100%;
    font-size: 36px;
  }
  .header__description p{
    font-size: 16px;
    margin-bottom: 26px;
  }
  .btn{
    font-size: 18px;
  }
  .title{
    font-size: 30px;
  }
  .company{
    padding-bottom: 50px;
  }
  .company__text{
    font-size: 16px;
    text-align: left;
  }
  .company__item{
    font-size: 16px;
    text-align: left;
  }
  .company__content{
    text-align: center;
  }
  .partners__images{
    flex-direction: column;
    align-items: center;
  }
  .partners__img{
    width: 80%;
  }

}

@media (max-width: 476px){
  .partners__box p{
    font-size: 16px;
  }
}

@media (max-width: 390px){
  .header__title{
    font-size: 30px;
  }
  .partners__img{
    width: 100%;
  }
  .application__text{
    margin-bottom: 40px;
  }
  .contacts__content{
    font-size: 16px;
  }
}

@media (max-width: 350px){
  .works__img{
    width: 278px;
  }
  .works__box::before{
    right: 6px;
  }
  .works__box::after{
    left: -8px;
  }
  .modal__title{
    font-size: 22px;
  }
  .form__box{
    margin-bottom: 15px;
  }
}