@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'mixsin';

.header {
  padding-top: 19px;
  padding-bottom: 153px;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  // height: 836px;
		&__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 55px;
		}

		&__title {
      max-width: 517px;
      font-weight: 700;
      font-size: 52px;
      line-height: 1.2;
      margin-bottom: 26px;
		}

		&__description {
      max-width: 491px;
      font-weight: 500;
      margin-bottom: 62px;
      p{
        margin-bottom: 26px;
        &:last-child{
          margin-bottom: 0;
        }
      }
		}
}

.menu {
  display: flex;
		&__item {
      margin-right: 16px;
      &:last-child{
        margin-right: 0;
      }
		}

		&__link {
      font-size: 18px;
      line-height: 1.2;
		}
}
.adress {
		&__text {
      font-size: 16px;
      max-width: 200px;
		}

		&__link {
      display: block;
      font-size: 16px;
      span{
        font-weight: bold;
      }
		}
}

.company {
  padding-top: 20px;
  padding-bottom: 128px;

		&__inner {
      display: flex;
      justify-content: space-between;
		}

    &__content{
      margin-right: 15px;
    }

		&__text {
      max-width: 608px;
		}

		&__list {
      margin-bottom: 43px;
		}

    &__img{
      width: 50%;
    }
}
.title {
  margin-bottom: 73px;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

.partners {
  padding-bottom: 205px;
		&__title {
      position: relative;
      margin-bottom: 96px;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/decor-right.png');
        top: -40px;
        right: 0;
        width: 459px;
        height: 325px;
      }
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/decor-left.png');
        top: -40px;
        left: 0;
        width: 459px;
        height: 325px;
      }
		}

		&__box {
      display: flex;
      justify-content: center;
      margin-bottom: 96px;
      p{
        margin-right: 89px;
        &:last-child{
          margin-right: 0;
        }
      }
		}

		&__images {
      display: flex;
      justify-content: center;
		}

		&__img {
      margin-right: 124px;
      &:last-child{
          margin-right: 0;
        }
		}
}

.works {
    padding-bottom: 205px;

		&__top {
      margin-bottom: 100px;
		}

		&__wrapper {
      max-width: 1390px;
      padding: 0 15px;
      margin: 0 auto;
		}

		&__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 45px;
		}

		&__box {
      width: 306px;
      height: 267px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/works/decor-top.png');
        top: -20px;
        right: -20px;
        width: 168px;
        height: 120px;
      }
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/works/decor-butom.png');
        bottom: -20px;
        left: -20px;
        width: 168px;
        height: 120px;
      }
		}

		&__img {
      width: 306px;
      height: 267px;
      object-fit: cover;
      border-radius: 25px;
		}
}
.filter {

		&__one {
      display: flex;
      justify-content: center;
      margin-bottom: 77px;
		}

		&__item {
      margin-right: 39px;
      &:last-child{
        margin-right: 0;
      }
		}

		&__btn {
      color: $white;
      font-size: 30px;
      font-weight: 500;
		}

		&__two {
      display: flex;
      justify-content: center;
		}
}

.application {
  padding-bottom: 102px;
  text-align: center;
		&__text {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 68px;
		}
}

.advantages {
    background-image: url('../images/advantages-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 775px;
    margin-bottom: 129px;
		&__title {
      padding-top: 70px;
      margin-bottom: 30px;
		}

		&__inner {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 400px;
      
		}

		&__item {
      padding: 22px 22px;
      background-color: rgba(24, 23, 21, 0.6);
      border-radius: 25px;
      margin-right: 55px;
      height: 231px;
      &::last-child{
        margin-right: 0;
      }
		}

    &__item--center{
      align-self: start;
    }

    &__text{
      text-align: center;
    }

		&__icon {
      fill: $white;
      cursor: pointer;
      &:hover{
        fill: red;
      }
		}
}

.contacts {
  padding-bottom: 174px;
		&__inner {
      display: flex;
      justify-content: space-between;
		}

		&__content {
      margin-right: 37px;
		}

		&__adress {
      max-width: 422px;
      margin-bottom: 15px;
		}

		&__chart {
      margin-bottom: 15px;
		}

		&__viber {
      margin-bottom: 15px;
      display: block;
      span{
        font-weight: bold;
      }
		}

		&__tel {
      span{
        font-weight: bold;
      }
		}
}

.footer{
  padding: 54px 0;
  background-color: black;
  &__box{
  display: flex;
  justify-content: center;
  align-items: center;
}
}

/* Стили для подложки */

.overlay {
   
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}


/* Стили для модальных окон */

.modal-demo {
  
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  
  
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 870px;
  
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  // padding: 30px;
  border-radius: 3px;
  background-color: $dark;
  transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal-demo.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: $white;
  cursor: pointer;
}

.modal {
		&__inner {
      display: flex;
		}

		&__img {
      background-image: url('../images/modal-bg.jpg');
      width: 354px;
      // margin-right: 27px;
		}

		&__text {
      margin-top: 600px;
      p{
        font-size: 16px;
        max-width: 234px;
        text-align: left;
        padding-left: 30px;
        padding-bottom: 15px;
      }
		}

		&__form {
      max-width: 514px;
		}

		&__title {
      padding-top: 54px;
      font-size: 36px;
      margin-bottom: 45px;
		}
}

.form {
  max-width: 434px;
  margin: 0 auto;

		&__input {
      width: 100%;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
      color: $white;
      background-color: $dark;
      border: 3px solid #FFFFFF;
      outline: none;
      padding: 9px 15px;
      &::placeholder{
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }
		}

		&__input--message {
      height: 77px;
      margin-bottom: 12px;
		}

    &__box{
      display: flex;
      margin-bottom: 64px;
    }

		&__checkbox {
      margin-right: 10px;
		}

		&__text {
      font-size: 15px;
		}
}

/* мобильная кнопка */

.header__burger {
  padding: 22px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: relative;
}

.header__line,
.header__burger::after,
.header__burger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  left: 5px;
  transition: transform 0.2s ease-out;
}

.header__burger::after {
  bottom: 9px;
}

.header__burger::before {
  top: 9px;
}


@import 'media';




